
</body>
<!-- /* <! Footer -->

<footer class="white-section-2" id="footer" style="position: static; bottom: 0; width: 100%;">

  <div class="container-fluid">

    <a href="https://www.facebook.com/Mayuzeh"><i class="social-icon fab fa-facebook"></i></a>
    <a href="https://twitter.com/mayuzeh"><i class="social-icon fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/mayuzeh"><i class="social-icon fab fa-instagram"></i></a>
    <a href="mailto:mayuzeh@gmail.com"><i class="social-icon fas fa-envelope-square"></i></a>
    <p>© 2022 <span class="Mint">Mint</span> <span class="Berries">N' Berries</span></p>
  </div>
</footer>
</html>
