<%- include("header") -%>

<section id="navbar">

  <div class="container-fluid">


    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">

      <a class="navbar-brand" href="">
        <p> <span class="Mint">Mints</span> <span class="Berries">N' Berries</span></p>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="search-container">
        <div class="col-lg-12 md-6">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href=""><span class="Words">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><span class="Words">About</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><span class="Words">Recipe</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><span class="Words">Download</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><span class="Words">Contact</span></a>
          </li>
        </ul>

      </div>
    </nav>

</section>

<section id="title">

  <!-- Title -->

  <div class="img">
    <div class="row">

      <div class="col-lg-6 md-6">
        <div class="vip-hero">
          <div class="container">
            <div class="row text-left">
              <div class="col-sm-12">
                <h1 class="cta-headers">Let's Start Cooking <p>With Popular Recipes</p>
                </h1>
                <h6 class="cta-subheaders">Want to taste one of our <span class="Mint">Mints</span> <span class="Berries">N' Berries</span>, but confused on what to get?</h6>
                <a href="/breeder/sell-puppies/" <button type="button" class="btn2 btn-blue btn-lg"></i> Get Started</button></a>
                <a href="/breeder/sell-puppies/" <button type="button" class="btn3 btn-blue btn-lg"></i> Explore Menu</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="title-image1" src="Images/122521.jpg" alt="fruit">
      </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="big-heading">Eat healthy to change your life forever.</h1>
        <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
        <button type="button" class="btn btn-outline-secondary btn-lg"><i class="fab fa-google-play"></i> Download</button>
      </div>

      <div class="col-lg-6">
        <img class="title-image" src="Images/drop-scones-landscape.jpg" alt="meal">
      </div>
    </div>
  </div>


</section>


<!-- Testimonials -->

<section id="testimonials">

  <div id="testimonial-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <h2>Parfait & Fruit Packs</h2>
        <img class="testimonial-image" src="Images/Yogurt-Parfait.jpg" alt="Parfait">
        <p><span class="testimonial-text"><em>Enjoy our Special <span class="Mint">Mint</span> <span class="Berries">N' Berries</span> Parfait with Granola toppings.</em></span></p>
      </div>

      <div class="carousel-item container-fluid">
        <h2>Juices & Smoothies</h2>
        <img class="testimonial-image" src="Images/Smoothie.jpg" alt="Smoothie">
        <p><span class="testimonial-text"><em>100% Fresh Juice & Smoothie with <span class="Mint">Mint</span> <span class="Berries">N' Berry</span> Flavor.</em></span></p>
      </div>

      <div class="carousel-item container-fluid">
        <h2>Salads</h2>
        <img class="testimonial-image" src="Images/thai-salad.jpg" alt="Salad">
        <p><span class="testimonial-text"><em>Healthy <span class="Mint">Mint</span> <span class="Berries">N' Berries</span> Special Salad.</em></span></p>
      </div>

      <div class="carousel-item container-fluid">
        <h2>Healthy Bites</h2>
        <img class="testimonial-image" src="Images/Cranberry-Pistachio-Bites.jpg" alt="bites">
        <p><span class="testimonial-text"><em>Healthy Bites Baked with <span class="Berries">Berries</span>.</em></span></p>
      </div>

      <div class="carousel-item container-fluid">
        <h2>Sandwich & Wraps</h2>
        <img class="testimonial-image" src="Images/berry sandwich.jpg" alt="sandwich">
        <p><span class="testimonial-text"><em>Fruity Sandwich and Wraps for Breakfast.</em></span></p>
      </div>

      <div class="carousel-item container-fluid">
        <h2>Food & Fruits Arrangements</h2>
        <img class="testimonial-image" src="Images/cheesecake.jpg" alt="Cheesecake">
        <p><span class="testimonial-text"><em>Special <span class="Mint">Mint</span> <span class="Berries">N' Berries</span> Cheesecake.</em></span></p>
      </div>

      <div class="carousel-item container-fluid">
        <h2>Breakfast Options</h2>
        <img class="testimonial-image" src="Images/breakfast.jpg" alt="breakfast">
        <p><span class="testimonial-text"><em><span class="Mint">Mint</span> <span class="Berries">N' Berries</span> Special Oat.</em></span></p>
      </div>

      <div class="carousel-item container-fluid">
        <h2>Mints N' Berries Special</h2>
        <img class="testimonial-image" src="Images/Healthy Fruit Salad.jpg" alt="Fruit Salad">
        <p><span class="testimonial-text"><em>Special <span class="Mint">Mint</span> <span class="Berries">N' Berries</span> Combo.</em></span></p>
      </div>

    </div>
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</section>


<!-- Features -->

<section class="white-section" id="features">

  <div class="container-fluid-2">

    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">Quality Assured.</h3>
        <p class="feature-subtitle">Our products are fresh, healthy, 100% natural and safe for consumption.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-bullseye fa-4x"></i>
        <h3 class="feature-title">Elite Clientele</h3>
        <p class="feature-subtitle">We have varieties of cuisines and drinks made of Mints N' Berries, the special kind.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-heart fa-4x"></i>
        <h3 class="feature-title">Healthy Love.</h3>
        <p class="feature-subtitle">We leverage the quality our products and costumer service in giving you a delightful and satisfying experience.</p>
      </div>
    </div>

  </div>

</section>


<section id="cards">
  <div class="card-group">
    <div class="card">
      <img src="Images/vegan_french_toast.jpg" class="card-img-top" alt="french toast">
      <div class="card-body">
        <h5 class="card-title">French Toast</h5>
        <p class="card-text">Thick slices of bread, soaked in a mixture of beaten eggs with milk and cinnamon, toasted in a frying pan, and served with honey, maple syrup and berries. This has to be one of our favorite, and most indulgent, breakfast
          dishes.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="Images/blueberry-mint-smoothie.jpg" class="card-img-top" alt="smoothie">
      <div class="card-body">
        <h5 class="card-title">Blueberry Mint Smoothie</h5>
        <p class="card-text">Thick smoothies, made from creamy beverages usually blended from puréed fruits, mints, juices, yogurt, nuts, seeds, and/or dairy or nondairy milk. Berries add great taste and nutritional value to smoothies, and there's so
          many to choose from.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="Images/fresh_fruit_salad.jpg" class="card-img-top" alt="fruit salad">
      <div class="card-body">
        <h5 class="card-title">Fresh Fruit Salad</h5>
        <p class="card-text">Fruit salads rich in strawberries, pineapple, honeydew, blueberries, grapes, and kiwifruit. Various recipes may call for the addition of nuts, fruit juices, certain vegetables, yogurt, or other ingredients of your choice.
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</section>


<%- include("footer") -%>
